{% extends "partials/base.html" %}
{% block content %}
  <div class="page page-home">
    <div class="home-news-footer">
      <ul>
        <li>
          <a href="#">
            <h3>One world, 7 billion faces</h3>
            <p>Read more {{ "arrow-right" | icon | safe }}</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>Invaders from space - Meteorites</h3>
            <p>Read more {{ "arrow-right" | icon | safe }}</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="home-slider-thumbs">
      <ul>
        {% for item in [1, 2, 3, 4, 5] %}<li data-number="{{ item }}" data-id="{{ item }}">
          <img src="images/home-slider-mobile-{{ item }}-thumb.jpg">
        </li>{% endfor %}
      </ul>
    </div>
    <div class="home-slider-paging">
      <span class="home-slider-paging-page">01</span><span class="home-slider-paging-separator">|</span><span class="home-slider-paging-count">05</span>
    </div>
    <div class="home-slider">
      {% for item in [1, 2, 3, 4, 5] %}
        <div 
          class="home-slider-item {% if item === 1 %}active{% endif %}" 
          data-id="{{ item }}"
          data-interchange="images/home-slider-mobile-{{ item }}.jpg:small,images/home-slider-mobile-{{ item }}-medium.jpg:medium,images/home-slider-mobile-{{ item }}-large.jpg:large"
          >
          <div class="home-slider-item-description">
            <a href="#{{ item }}" class="home-slider-item-tag">
              Play video
            </a>
            <h2 class="home-slider-item-title">
              <a href="#{{ item }}">
                Hang soon doong cave {{ item }}
              </a>
            </h2>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
