@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0;
  }
}

@mixin header-icon {
  display: block;
  color: white;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  padding: 12px;
  @media #{$medium-up} {
    top: 32px;
    width: 28px;
    height: 28px;
    padding: 24px;
  }
  .svg-icon {
    vertical-align: top;
  }
}
