// Fonts
$font-family-sans-serif: 'Source Sans Pro', -apple-system, sans-serif;
$font-family-serif: 'Karma', Georgia, serif;

// Colors
$color-yellow: #FDD835;

// Font weight
$font-weight-extra-thin: 300;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

// Others
$border-page-size: 8px;
$border-page-size-large: 16px;
