header.main-header {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 10px;
  right: 10px;
  .wrapper {
    position: relative;
    padding: 20px;
  }
  .logo {
    color: white;
    width: 100px;
    height: 30px;
    display: block;
  }
  .open-menu {
    @include header-icon;
    right: 8px;
  }
  .open-search {
    @include header-icon;
    right: 48px;
    transition: all 500ms $ease-out-expo;
    span {
      @include header-icon;
      transition: all 500ms $ease-out-expo;
      position: absolute;
      top: 0;
      left: 0;
      &.close {
        opacity: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
