.home-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  overflow: hidden;
  border: 8px solid white;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%;
    background: linear-gradient(0deg, rgba(black, 0), rgba(black, 0.5));
  }
  .home-slider-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition: all 500ms;
    transform: scale(0.95);
    &.active {
      transform: scale(1);
      opacity: 1;
    }
    &.leaving {
      opacity: 0;
      transform: scale(1.05);
    }
    &.entering {
      transition-delay: 100ms;
      transform: scale(1);
      opacity: 1;
    }
    .home-slider-item-description {
      position: absolute;
      z-index: 2;
      bottom: 35%;
      left: 0;
      right: 0;
      padding: 20px;
      .home-slider-item-tag {
        background: rgba($color-yellow, .8);
        padding: 7px 10px;
        display: inline-block;
        line-height: 1;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: $font-weight-extra-bold;
        margin-bottom: 10px;
        box-shadow: rgba(black, .3) 1px 1px 2px;
        text-shadow: rgba(black, .2) 1px 1px 1px;
      }
      .home-slider-item-title {
        line-height: 1;
        font-size: 32px;
        text-shadow: rgba(black, .6) 1px 1px 2px;
        a {
          display: inline-block;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

.home-slider-thumbs {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  right: -40px;
  box-shadow: rgba(black, .6) 1px 1px 1px;
  width: 150px;
  height: 70px;
  ul {
    @include ul-reset;
    li {
      width: 50px;
      display: inline-block;
      a {
        display: inline-block;
        img {
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
  .tns-controls {
    position: absolute;
    top: -25px;
    right: 0;
    display: none;
    @media #{$medium-up} {
      display: block;
    }
  }
}
