.home-slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  overflow: hidden;
  border: $border-page-size solid white;
  @media #{$medium-up} {
    border-width: $border-page-size-large;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%;
    background: linear-gradient(0deg, rgba(black, 0), rgba(black, 0.5));
  }
  .home-slider-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition: all 500ms;
    transform: scale(0.98);
    pointer-events: none;
    &.active {
      transform: scale(1);
      opacity: 1;
      pointer-events: initial;
    }
    &.leaving {
      opacity: 0;
      transform: scale(1.02);
    }
    &.entering {
      transition-delay: 300ms;
      transform: scale(1);
      opacity: 1;
    }
    .home-slider-item-description {
      position: absolute;
      z-index: 2;
      bottom: 35%;
      left: 0;
      padding: 20px;
      @media #{$medium-up} {
        padding: 40px;
      }
      .home-slider-item-tag {
        transition: all 300ms;
        background: rgba($color-yellow, .8);
        padding: 7px 10px;
        display: inline-block;
        line-height: 1;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: $font-weight-extra-bold;
        margin-bottom: 10px;
        box-shadow: rgba(black, .3) 1px 1px 2px;
        text-shadow: rgba(black, .2) 1px 1px 1px;
        @media #{$medium-up} {
          padding: 10px 15px;
          font-size: 16px;
        }
        &:hover {
          @media #{$large-up} {
            background: rgba($color-yellow, .5);
          }
        }
      }
      .home-slider-item-title {
        line-height: 1;
        font-size: 32px;
        text-shadow: rgba(black, .6) 1px 1px 2px;
        @media #{$medium-up} {
          font-size: 52px;
        }
        a {
          display: inline-block;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          &::after {
            position: absolute;
            content: "";
            transition: all 300ms $ease-out-quint;
            left: 10px;
            top: 10px;
            right: 10px;
            bottom: 10px;
            background: transparent;
            pointer-events: none;
            transform: scale(.98);
          }
          &:hover {
            &::after {
              background: rgba(white, .2);
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

.home-slider-thumbs {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  right: -40px;
  width: 150px;
  height: 70px;
  @media #{$medium-up} {
    bottom: 115px;
    width: 300px;
    height: 140px;
  }
  &.ready {
    ul {
      li {
        img {
          opacity: 1;
        }
      }
    }
  }
  ul {
    @include ul-reset;
    li {
      width: 50px;
      display: inline-block;
      @media #{$medium-up} {
        width: 100px;
      }
      img {
        transition: opacity 600ms;
        opacity: 0;
        width: 100%;
        display: inline-block;
      }
    }
  }
  .tns-controls {
    display: none;
    @media #{$xlarge-up} {
      position: absolute;
      top: -45px;
      left: 0;
      display: block;
      button {
        background: transparent;
        border: 0;
        padding: 10px;
        color: white;
        .svg-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.home-slider-paging {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  color: white;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: $font-weight-bold;
    &.home-slider-paging-page {
      font-size: 12px;
      @media #{$medium-up} {
        font-size: 14px;
      }
    }
    &.home-slider-paging-separator {
      font-size: 12px;
      margin: 0 5px;
      @media #{$medium-up} {
        font-size: 14px;
      }
    }
    &.home-slider-paging-count {
      font-size: 16px;
      @media #{$medium-up} {
        font-size: 18px;
      }
    }
  }
}
